body {
    margin: 60px auto;
    width: 50%;
    background-color:#90a1cf;
    background-image:url("/materials/drop2.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    list-style: none;
    font-weight: bold; 
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ff9999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #ff9999;
    letter-spacing: -4px;
    word-spacing: 7px;
/*    background-color: rgba(255, 255, 255, 0.5); */
    margin-top: 110px;
    margin-bottom: 50px;
}
h2 {
    font-size: 2em;
    color: #ff9999;
    letter-spacing: -3px;
    word-spacing: 7px;
/*    background-color: rgba(255, 255, 255, 0.5); */
    margin-top: 50px;
    margin-bottom: 50px;
}
blockquote {
    font-size: 1em;
    margin: 0px;
    text-align: right;
    color: rgba(255,255,255,0.5);
}

p {
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 2em;
    color: #201005; 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: justify;

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
