<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Taviraj|Playfair+Display+SC:normal,black|Lora">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/"><img src="/assets/drop-pink.svg" alt="Home Icon" style="width:16px;height:16px;"></a></li>
	        		<li><a href="/">home</a></li>
					<li><a href="/stories">stories</a></li>
					<li><a href="/graphics">graphics</a></li>
					<li><a href="/nederlands">nederlands</a></li>
					<li><a href="/online-cv">about me</a></li>
	    		</ul>
			</nav>
			<div class="container">
			<h1>crater company</h1>
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
